{% include 'header.html' %}

{% with msg= get_flashed_messages() %}
{% if msg %}
    <div class="alert alert-danger" role="alert">
        {% for m in msg%}
            {{m}}
        {% endfor %}
    </div>
{% endif %}
{% endwith %}



<div class="card">
    <div class="card-header">
        Agregar pelicula
    </div>
    <div class="card-body">
        <h5 class="card-title">Datos de la pelicula</h5>
        <p class="card-text">

            <form class="" method="post" action="/store" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="txtNombre">Nombre:</label>
                    <input type="text" class="form-control" name="txtNombre" id="txtNombre">
                </div>

                <div class="form-group">
                    <label for="txtNombre">Descripcion:</label>
                    <input type="text" class="form-control" name="txtDesc" id="txtDesc">
                </div>

                <div class="form-group">
                    <label for="txtImagen">Imagen:</label>
                    <input type="file" class="form-control" name="txtImagen" id="txtImagen">
                </div>

                <br>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Agregar">
                    <a href="{{url_for('index')}}" class="btn btn-info">Volver</a>
                </div>
            </form>
        </p>
    </div>
</div>

{% include 'footer.html' %}